@using GameCasino.Ioc
@using GameCasino.Entities
@{
    Layout = "~/Layouts/GeneralLayout.cshtml";

}

@section Header{}
@if (IsPost)
{
    if (Request["Action"] != null &&
       Request["Action"] == "ShowGame")
    {
        int idGame;
        if (Request["Id"] != null &&
            Request["Id"] != "" &&
            int.TryParse(Request["Id"], out idGame))
        {
            var gamelogic = DependencyResolver.GameLogic;

            Game game = gamelogic.GetGameById(idGame);
            string imageName = game._name + ".jpg";
            decimal money = game._ourPrice;
            <h1 class="h1-title">@game._name for @money</h1>
            <div class="container-for-games-on-show-page">
                <img class="img-big" src="~/img/@imageName">
                <form action="~/Pages/PaidKeyPage.cshtml" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="price" value="@money" />
                    <button type="submit" class="button-purchase">Give me the code!</button>
                </form>
            </div>
        }
    }
}
else
{
    Response.Redirect("~/Pages/Games.cshtml");
}

