@{
    Layout = "~/Layout/GeneralLayout.cshtml";
}

@section Header{}
<h1 class="h1-title"> You haven't enough money. Please replenish your account</h1>
<form action="~/Pages/Replenish.cshtml" method="post" enctype="multipart/form-data">
    <button type="submit" class="button-purchase"> Replenish account </button>
</form>