@using GameCasino.Ioc
@using GameCasino.Entities
@{
    Layout = null;
    var userLogic = DependencyResolver.UserLogic;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Styles/Style.css" rel="stylesheet" />
</head>
<body>
    <div>
        <header>
            @RenderSection("Header")
            <a href="~/Pages/Games.cshtml" class="menu-element">Games</a>
            <a href="~/Pages/GameRoulette.cshtml" class="menu-element">Game Roulette</a>
            <a href="~/Pages/About.cshtml" class="menu-element">About us</a>
            <a href="~/Pages/Login/Authorization.cshtml" class="menu-element">Login</a>
            @if (User.Identity.IsAuthenticated)
            {
                User user = userLogic.GetUserByUsername(User.Identity.Name); 
                <div class="menu-element">
                    @User.Identity.Name @user._bill <img src="~/img/lucky_coin.jpg" class="img-coin">
                </div>
            }


        </header>
    </div>
    <div class="content">
        @RenderBody()

    </div>
</body>
</html>
