body {
    background: rgb(223,206,2);
    background: linear-gradient(90deg, rgba(223,206,2,1) 26%, rgba(80,215,228,0.9836135137648809) 47%, rgba(120,15,195,1) 94%);
}
header {
    height: 50px;
    width: 80%;
    background: rgb(223, 236, 4);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 15px 100px 15px 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu-element {
    position: relative;
    display: inline-block;
    margin-top: 2.5px;
    margin-left: 12%;
    margin-right: auto;
    padding: 6px;
    text-decoration: none;
    color: aliceblue;
    float: left;
    border-left: 3px solid #F2FADA; /* Параметры линии */
    border-right: 3px solid #F2FADA; /* Параметры линии */
    font: normal small-caps 26px/28px fantasy;
    text-shadow: black 0 0 2px;
}
.menu-element-profile{

}
    .menu-element:hover {
        text-decoration: underline;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        border-left: 3px solid #060901; /* Параметры линии */
        border-right: 3px solid #060901; /* Параметры линии */
        border-top: 3px solid #060901; /* Параметры линии */
        border-bottom: 3px solid #060901; /* Параметры линии */
    }
.content {
    position:relative;
    display:block;
    width: 80%;
    height: 60%;
    margin: auto;
    background: white;
    padding:25px
}
.content-conteiner {
    position: relative;
    display: block;
}
.container-for-games {
    background: rgb(223,206,2);
    background: linear-gradient(90deg, rgba(223,206,2,1) 26%, rgba(80,215,228,0.9836135137648809) 47%, rgba(120,15,195,1) 94%);
    padding: 10px;
    display: inline-block;
    width: 340px;
    height: 240px;
    left: 25px;
    right: 25px;
    border-radius: 25px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.76);
}

.h1-game {
    text-align: center;
    padding: 5px 0 5px 0;
    color: black;
    font: normal small-caps 22px/24px fantasy;
    text-shadow: black 0 0 2px;
}
.img{
    
    margin-left:25px;
    margin-bottom:15px;
    height:160px;
    width:280px;
}
.h1-title {
    text-align: center;
    padding: 40px 0 30px 0;
    color: black;
    font: normal small-caps 30px/40px fantasy;
    text-shadow: black 0 0 2px;
}
.button-purchase {
    display: block;
    height: 30px;
    width: 340px;
    margin: auto;
    border-radius: 50px;
    border: none;
    margin-bottom: 25px;
    background-color: rgb(255, 201, 8);
    font-size: 23px;
    font-weight: bold;
}